<header>
    <div class="container">
        <div class="navbar">
                    <img src="assets/logo.png" class="logo" routerLink="/">

                <nav>
                    <ul class="nav navbar-nav navbar-left">
                        <li routerLink="/signup">Register</li>
                        <li routerLink="/login">Login</li>
                        <li>Bill Inquiry</li>
                        <li routerLink="/complaint">Complaint Registration</li>
                    </ul>
                </nav>
                </div>
            </div>
</header>