<app-header></app-header>
<div class="container">
    <header>Login Form</header>
    <form (ngSubmit)="userLogin()" [formGroup]="loginForm">
        <div class="details personal">
            <div class="fields">
                <div class="input-field">
                    <span class="red-star">*</span>
                    <label for="emailAddress" class="control-label col-sm-3">Email Address</label>
                    <input type="text" placeholder="Enter your username" id="emailAddress" name="emailAddress"
                        [(ngModel)]="login.emailAddress" required>
                        <small *ngIf="emailAddress?.invalid && emailAddress?.touched" class="text-danger">Email is Required</small> 
                </div>

                <div class="input-field">
                    <span class="red-star">*</span>
                    <label class="col-form-label col-4">Password</label>
                    <input type="password" placeholder="Enter your password" id="password" name="password"
                            [(ngModel)]="login.password" required>
                            <small *ngIf="password?.invalid && password?.touched" class="text-danger">Password is Required</small> 
                    </div>
                </div>
        </div>
        <div class="buttons">

            <div class="backBtn">
                <!-- <button (click)="clicksub()" [disabled]="signupForm.invalid" type="submit" -->
                    <button type="submit" class="btn btn-success">
                    <span class="btnText">Submit</span>
                    </button>
                    
                
            </div>


            <div class="cancelBtn">
                <button type="cancel" class="btn btn-default">
                <span class="btnText">Cancel</span>
                </button>
                    </div>
                </div>
            </form>

</div>

