<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}" id="myModal">
    <div class="modal-dialog" role="document">
          <div class="modal-content">
                <div class="modal-header">
                      <h4 class="modal-title" [ngStyle]="tittle==='Error'?{'color':'red'}:{'color':'green'}">{{tittle}}</h4>
                      <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                    </div>
           <div class="modal-body">
                      <p font-weight="bold">{{text}}</p>
                    </div>
                <div class="modal-footer">
                      <button type="button" autofocus class="btn btn-default" (click)="onCloseHandled()" >Close</button>
                    </div>
       </div>
        </div>
</div>